body {
  background: rgb(27, 27, 27);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-top: 5%;
  text-align: center;
}

.offbutton {
  cursor: pointer;
}

/* Auth forms */

.auth-form {
  padding: 8%;
  border: 1px solid white;
}

.auth-form fieldset legend {
  color: #f7f2f2;
}

.eye-icon {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin-right: 2%;
  padding-right: .20rem; 
}
